// Core styles
.btn {
  background-color: transparent;
  color: #fff;
  border-radius: 0px;
  padding: 0.750em 2em;
  margin-bottom: 2em;
  border: 4px solid #ddd;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.1s;
  &:focus {
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    box-shadow: 0 0.125em #124252;
  }
}
