form {
  margin-top: 2em;
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; /* IE8-9 */
  line-height: normal;
}

// Set the height of select and file controls to match text inputs
input[type="file"] {
  display: block;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}

// Fix optgroup Firefox bug per https://github.com/twbs/bootstrap/issues/7611
select optgroup {
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
}

// Focus for select, file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  @include tab-focus();
}

// Fix for Chrome number input
// Setting certain font-sizes causes the `I` bar to appear on hover of the bottom increment button.
// See https://github.com/twbs/bootstrap/issues/8350 for more.
input[type="number"] {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    height: auto;
  }
}

input, textarea {
  display: block;
  width: 100%;
  max-width: 30em;
  padding: 0.25em;
  line-height: 1.5em;
  color: $grey-dark;
  vertical-align: middle;
  background-image: none;
  border: 1px solid #aaa;
  border-radius: 0.25em;
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    cursor: not-allowed;
    background-color: #eee;
  }

  // Reset height for `textarea`s
  textarea {
    height: auto;
  }
}

.input-small {
  width: 40%;
}

.input-medium {
  width: 50%;
}

.input-large {
  width: 70%;
}

.form-segment {
  margin-bottom: 1.5em;
}

.help {
  font-size: 0.850em;
  font-style: italic;
  font-weight: 300;
}

label {
  font-size: 0.9em;
  font-weight: 600;
}

.ss-required-asterisk, .unhappyMessage {
  color: $error;
  font-size: 0.850em;
  font-weight: 600;
}

.success {
  color: $success;
}

.error {
  color: $error;
}
