html,
body,
.wrapper {
  height: 100%;
}

body {
  background-color: $black;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
}

.nav {
  position: fixed;
  bottom: 0;
  color: $white;
  z-index: 1000;
  width: 55%;
  text-align: center;
  .arrow {
    display: inline-block;
    padding: 0.5em 1em;
    border: 3px solid $white;
    cursor: pointer;
  }
}

.intro {
  position: fixed;
  .bio {
    width: 30%;
    margin-left: 30%;
    margin-top: 15%;
  }
  h1 {
    margin-left: -27%;
  }
}

.project-info {
  position: absolute;
  width: 50%;
  height: 100%;
  .project-description {
    width: 100%;
    height: 100%;
    position: relative;
    .project-title {
      width: 85%;
      position: absolute;
      top: 15%;
      left: 15%;
      z-index: 1;
      p {
        width: 60%;
      }
    }
  }
}


.project-screens {
  @include transform(translatez(0));
  position: fixed;
  width: 100%;
  top: 0em;
  right: 0em;
  bottom: 0em;
}

.screen {
  @include transform(translatez(0));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  background: $black;
  overflow: hidden;
  .category {
    position: absolute;
    width: 5%;
    text-align: right;
    z-index: 200;
    top: 15%;
  }
  .project-bg {
    width: 45%;
    height: 60%;
    left: 55%;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
  }
  .project-details {
    font-size: 0.9em;
    width: 45%;
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 55%;
    padding: 1em;
    background-color: $red;
    color: rgba($white, 0.7);
    &:before {
      content: "";
      display: block;
      width: 70%;
      height: 1px;
      background: rgba($white, 0.2);
      position: absolute;
      left: 15%;
      top: 50%;
    }
    &:after {
      content: "";
      display: block;
      height: 50%;
      width: 1px;
      background: rgba($white, 0.2);
      position: absolute;
      left: 50%;
      top: 25%;
    }
    .segment {
      width: 50%;
      height: 50%;
      float: left;
      display: table;
      text-align: center;
      .inner {
        display: table-cell;
        vertical-align: middle;
      }

    }
  }
}