.nav {
  color: $black;
  ul {
    width: 100%;
    > li {
      display: block;
      width: 100%;
      margin-bottom: 0.250em;
      &:hover {
        border-left: 10px solid rgba($black, 0.1);
        a {
          margin-left: -10px;
        }
      }
      &.active {
        border-left: 10px solid rgba($black, 0.3);
        a {
          margin-left: -10px;
        }
      }
    }
  }
  a {
    color: $link-color;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: none;
    font-size: 0.85em;
    font-weight: 500;
  }
}

.toggle-nav {
  display: none;
}