body {
  font-style: normal;
}

a {
  text-decoration: none;
  color: $red;
  font-weight: 500;
}

p {
  font-family: 'Sentinel A', 'Sentinel B'; font-weight: 300; font-style: normal;
  font-weight: 300;
  margin: 0 0 2em 0;
  line-height: 1.780em;
  font-size: 1.1em;
  letter-spacing: 0px;
}

h1,h2,h4,h6 {
  font-family: "Miller Banner Black";
  font-style: normal;
  font-weight: normal;
}

h1 {
  font-weight: 500;
  font-size: 5em;
  margin-bottom: 0.3em;
  line-height: 1em;
  color: $red;
}

.big {
  font-family: 'Sentinel A', 'Sentinel B'; font-weight: 300; font-style: normal;
  color: $black;
}

h2 {
  font-size: 2em;
  line-height: 1.125;
  font-weight: 500;
  word-spacing: 5px;
  margin-bottom: 0.250em;
}

h3 {
  font-family: 'Archer A', 'Archer B'; font-weight: 400; font-style: normal;
  font-size: 0.7em;
  line-height: 2;
}

h4, dt {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 0em;
  font-family: 'Archer A', 'Archer B'; font-weight: 500; font-style: normal;
}

h5 {
  font-size: 1.5em;
  margin: 0 0;
  font-family: 'Archer A', 'Archer B'; font-weight: 500; font-style: italic;
}

small {
  font-size: 0.7em;
}


hr {
  margin: 0;
  border: none;
  border-top: 2px solid rgba(0,0,0,0.2);
  width: 30%;
  margin-left: 35%;
  margin-bottom: 0.85em;
}

ul {
  margin: 0 0 1.45em;
}

li {
  margin-bottom: 0.5em;
}

dl {
  font-family: "jaf-bernina-sans";
  font-size: 1;
  font-weight: 400;
  dt {
    margin-left: 8px;
  }
  dd {
    line-height: 1.800em;
  }
}

address {
  font-style: normal;
}

.text-right {
  text-align: right;
}